.page {
  background-color: rgb(61, 81, 172);
  width: 100%;
  height: calc(100vh - 80px);
  color: white;
  margin: 0;
  padding-top: 30px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.text {
  margin: 0;
  padding-top: 200px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}