.header {
  background-color: aliceblue;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.logo {
  border-radius: 100%;
  border: 3px solid teal;
  width: 70px;
  height: 70px;
}

.logo:hover {
  background-color: teal;
}

.logo:hover .text {
  color: white;
}

.imgwrapp {
  margin: 5px;
}

.img {
  width: 40px;
}

.text {
  color: teal;
}

.logo a {
  text-decoration: none;
}